{% extends 'manage/_base.html.twig' %}

{% block title %}Manage Tags | InsightEngine{% endblock %}

{% block content %}
    <div class="hero border-bottom">
        <div class="hero-titles">
            <h2 class="hero-tagline">
                Manage Tags
            </h2>
        </div>
    </div>

    <div class="marketing manage-tags marketing-last">
        <p>
            Below is a list of all of your tags in Mandrill, sorted by most active.
            If tags are detected to not be active currently, they will be toggled off,
            but you can override that manually.  This data is refreshed daily, but you
            can also <a href="#">manually refresh it</a>.
        </p>
        <div class="pure-g">
            <div class="tag tag-enabled pure-u-1 pure-u-md-1-2">
                <div class="tag-inner ">
                    <div class="switch">
                        <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" checked="checked">
                        <label for="cmn-toggle-1"></label>
                    </div>
                    <div class="signals">
                        <div class="biggest-gap good tooltip" title="In the last 14 days, there was no sending gap."><i class="fa fa-signal"></i> 0</div>
                        <div class="last-sent bad tooltip" title="The last email sent was 48 hours ago"><i class="fa fa-calendar"> 48h</i></div>
                    </div>
                    <div class="tag-title">order_confirmation</div>
                    <div class="tag-subject">Order Confirmation #123425</div>
                </div>
            </div>
            <div class="tag tag-enabled pure-u-1 pure-u-md-1-2">
                <div class="tag-inner ">
                    <div class="switch">
                        <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox" checked="checked">
                        <label for="cmn-toggle-2"></label>
                    </div>
                    <div class="signals">
                        <div class="biggest-gap good tooltip" title="In the last 30 days, the biggest sending gap was 1 day"><i class="fa fa-signal"></i> 1</div>
                        <div class="last-sent okay"><i class="fa fa-calendar"> 36h</i></div>
                    </div>
                    <div class="tag-title">onboarding</div>
                    <div class="tag-subject">Let's schedule a call!</div>
                </div>
            </div>
            <div class="tag tag-enabled pure-u-1 pure-u-md-1-2">
                <div class="tag-inner ">
                    <div class="switch">
                        <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round" type="checkbox" checked="checked">
                        <label for="cmn-toggle-3"></label>
                    </div>
                    <div class="signals">
                        <div class="biggest-gap good"><i class="fa fa-signal"></i> 0</div>
                        <div class="last-sent good"><i class="fa fa-calendar"> 2h</i></div>
                    </div>
                    <div class="tag-title">shipping_confirmation</div>
                    <div class="tag-subject">Your order has shipped</div>
                </div>
            </div>
            <div class="tag tag-enabled pure-u-1 pure-u-md-1-2">
                <div class="tag-inner ">
                    <div class="switch">
                        <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round" type="checkbox" checked="checked">
                        <label for="cmn-toggle-4"></label>
                    </div>
                    <div class="signals">
                        <div class="biggest-gap good"><i class="fa fa-signal"></i> 0</div>
                        <div class="last-sent good"><i class="fa fa-calendar"> 2h</i></div>
                    </div>
                    <div class="tag-title">abandoned_cart</div>
                    <div class="tag-subject">Are you still interested in Blue Shirt?</div>
                </div>
            </div>
            <div class="tag tag-enabled pure-u-1 pure-u-md-1-2">
                <div class="tag-inner ">
                    <div class="switch">
                        <input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round" type="checkbox" checked="checked">
                        <label for="cmn-toggle-5"></label>
                    </div>
                    <div class="signals">
                        <div class="biggest-gap good"><i class="fa fa-signal"></i> 0</div>
                        <div class="last-sent good"><i class="fa fa-calendar"> 2h</i></div>
                    </div>
                    <div class="tag-title">winback_1</div>
                    <div class="tag-subject">We miss you, Joe!</div>
                </div>
            </div>
            <div class="tag tag-enabled pure-u-1 pure-u-md-1-2">
                <div class="tag-inner ">
                    <div class="switch">
                        <input id="cmn-toggle-6" class="cmn-toggle cmn-toggle-round" type="checkbox" checked="checked">
                        <label for="cmn-toggle-6"></label>
                    </div>
                    <div class="signals">
                        <div class="biggest-gap good"><i class="fa fa-signal"></i> 0</div>
                        <div class="last-sent good"><i class="fa fa-calendar"> 2h</i></div>
                    </div>
                    <div class="description">
                        <div class="tag-title">welcome_email</div>
                        <div class="tag-subject">Welcome to TheAwesomeStore.com, Bob!</div>
                    </div>
                </div>
            </div>
            {% for tag in tags %}
                <div class="tag tag-enabled pure-u-1 pure-u-md-1-2">
                    <div class="tag-inner ">
                        <div class="switch">
                            <input id="cmn-toggle-6" class="cmn-toggle cmn-toggle-round" type="checkbox" checked="checked">
                            <label for="cmn-toggle-6"></label>
                        </div>
                        <div class="signals">
                            <div class="biggest-gap good"><i class="fa fa-signal"></i> 0</div>
                            <div class="last-sent good"><i class="fa fa-calendar"> 2h</i></div>
                        </div>
                        <div class="description">
                            <div class="tag-title tooltip" title="{{ tag.tag }}">{{ tag.tag }}</div>
                            <div class="tag-subject">{{ tag.tag_subject }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
