#menu {
    .pure-menu-heading {
        font-size: 93%;
        .insight {
            font-weight: bold;
        }

        .engine {
            font-weight: 200;
        }
    }
}

.text-logo {
    font-size: 200%;
    font-family: sans-serif;
    text-transform: uppercase;

    .insight {
        font-weight: bold;
    }

    .engine {
        font-weight: 200;
    }
}

.marketing.hero-call-to-action {
    border: 1px solid #eee;
    padding: 0.5em;
    background: rgb(250, 250, 250);

    .hero-form-wrapper {
        text-align: left;
    }

    form {
        font-size: 130%;
    }
}

@media screen and (min-width: 48em) {
    .hero h1 {
        margin-bottom: 0;
        line-height: 1.6;
        font-size: 3em;
    }

    .marketing.marketing-main h3 {
        text-align: center;
    }
}

.highlight {
    color: #0078e7;
}


.marketing-last {
    border-bottom: none;
    padding-bottom: 0;
}

.screenshot {
    box-shadow: rgba(0, 0, 0, 0.74902) 0px 0px 37px 0px;
}

p.mandrill-validation-status {
    margin-top: 0;
    font-size: 70%;
    .success {
        color: #5eb95e;
    }
    .error {
        color: #dd514c;
    }
}